html
    head
        title= "Fake Server"
    body
        p.
            #[strong app_id:] #{app_id}
        p.
            #[strong query:] #{query}
        p.
            #[strong original_url:] #{original_url}